:root {
    --card-background-color: #f8f8f8;
    --card-border-color: #e3e9f1;
    --card-shadow-color: rgba(0,0,0,0.2);
    
    --card-closed-background-color: #c8c8c8;
    --card-closed-label-color: #ff0000;

    --course-title-size: 2em;
    --course-title-color: #000000;

    --course-details-size: 1.1em;
    --course-details-color: #7c7c7c;

    --course-grade-size: calc(var(--course-details-size) - 3px);
    --course-grade-good-color: #00ff00;
    --course-grade-okay-color: #ffcc00;
    --course-grade-bad-color: #ff0000;
}

/* Hide scrollbar */
.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Card holder styling */
.card-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    width: 100%;
}
.card-holder div.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    
    gap: 40px;
    padding: 35px;

    width: calc(100% - 70px);
    max-height: 650px;
    
    overflow-y: auto;
    overflow-x: visible;
}
.card-holder div.cards > div.card {
    margin: 10px 5px;
}

/* Card styles */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 550px;
    max-height: 700px;
    height: 100%;
    width: auto;

    margin: 40px;
    
    background-color: var(--card-background-color);
    border-radius: 20px;

    border: 1px solid var(--card-border-color);
    box-shadow: 6px 6px 8px 0px var(--card-shadow-color);

    transition-property: transform, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.card.course-card {
    max-width: 300px;
    max-height: 450px;
    height: 450px;
    width: auto;
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 15px 15px 10px 0px var(--card-shadow-color);
}
.card.closed {
    background-color: var(--card-closed-background-color);
}
.card .closed-label {
    color: var(--card-closed-label-color);
}

/* Card header */
.card-header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
    cursor: pointer;
}
.card-header > label {
    color: var(--course-title-color);
    font-size: var(--course-title-size);
    font-weight: bold;
    margin-bottom: 10px;

    cursor: pointer;
}
.card-header-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: var(--course-details-size);
    color: var(--course-details-color);
    font-weight: bold;
}
div.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: -webkit-fill-available;
}
div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
}
div.row.small,
div.col.small {
    width: auto
}

/* Set course grade color based on grade(done with js) */
.course-grade.bad {color: var(--course-grade-bad-color);}
.course-grade.okay {color: var(--course-grade-okay-color);}
.course-grade.good {color: var(--course-grade-good-color);}
.course-grade {
    font-size: var(--course-grade-size);
}

/* Card body */
.card-body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 15px;
}
.card.course-card .card-body{
    max-height: 245px;
    margin-bottom: 0px;
}
.card-body-list {
    list-style-type: none;
    padding: 15px;
    margin: 0;
}
.card-body-list li {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;

    border: 1px solid var(--card-border-color);
    box-shadow: 0px 2px 2px 0px var(--card-shadow-color);
    
    transition-property: transform, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.card-body-list li:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px var(--card-shadow-color);
    transform: scale(1.05);
}
.card-body-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-body-details span.due {
    color: #ff0000;
}
.card-body-details span.completed {
    color: #00ff00;
}

/* Card instructions */
.card-body .instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid var(--card-border-color);
    box-shadow: 0px 2px 2px 0px var(--card-shadow-color);
}
.card-body .instructions > label {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--course-title-color);
    margin-bottom: 10px;
}
