:root {
    --option-link-border-radius: 10px;
    --option-link-border-width: 1px;
    --option-link-border-color: #ee7e27;
    --option-link-background-color: #ee7e27;
    --option-link-hover-color: #ff9e5e;
    --option-link-text-color: #000000;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 0px;
}
.option-links {
    position: fixed;
    top: 0px;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 50px;
}
.option-links > a {
    display: flex;
    align-items: center;
    justify-content: center;
    ;
    height: 50px;
    width: 20%;

    padding: 10px;

    border: var(--option-link-border-width) solid var(--option-link-border-color);
    border-left-width: 0px;
    border-right-width: 0px;
    background-color: var(--option-link-background-color);

    cursor: pointer;
    
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    color: var(--option-link-text-color);

    transition-property: background-color, transform;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s, 0.3s;
}
.option-links > a:first-child {
    border-left-width: var(--option-link-border-width);
    border-bottom-left-radius: var(--option-link-border-radius);
}
.option-links > a:last-child {
    border-right-width: var(--option-link-border-width);
    border-bottom-right-radius: var(--option-link-border-radius);
}
.option-links > a:hover {
    background-color: var(--option-link-hover-color);
    transform: scale(1.025);
}
.option-links > a.active {
    background-color: var(--option-link-hover-color);
}